:root{
    --black: rgb(11, 13, 23);
    --ligth_pink: rgb(208,214,249);
    --white:rgb(255, 255, 255);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:white;
    font-family: 'Barlow Condensed', sans-serif;
}


@media (min-width: 769px) {
    


body{
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/destination/background-destination-desktop.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 80vh;
    grid-template-areas:
    "nav nav"
    "main section";
}


        /*-----NAV-----*/

nav{
    grid-area: nav;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin: 0px  50px 0px 50px;
}

nav svg{
    height:4vw;
    min-height:4vw;
    width: 4vw;
    min-width: 4vw;
}

nav span{
    height: 4px;
    width: 35vw;
    background: rgba(255, 255, 255, 0.116);
}

nav ul{
    display:flex;
    flex-direction:row;
    align-items: end;
    justify-content: space-around;
    width: 40vw;
    height: 65px;
    min-width: 400px;
    list-style: none;

    font-size:clamp(15px, 1vw, 18px);
    letter-spacing: .15vw;
    gap:1vw;

    padding:0px 5vw;
    background:rgba(255, 255, 255, 0.064);
    backdrop-filter: blur(10px);
}

nav ul li{
    padding-bottom:20px;
    transition: ease .3s;
}

nav ul li a{
    text-decoration: none;
}

#navSelected{
    border-bottom: solid rgb(255, 255, 255) 3px;
}

nav ul li:hover{
    border-bottom: solid rgba(255, 255, 255, 0.116) 3px;
}

        /*END NAV*/


        /*-----MAIN-----*/
main{
    grid-area: main;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top:3vw;
}

main p{
    display:flex;
    transform: translateX(-4vw);
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: .3vw;
    font-size:1.7vw;
    font-weight: 400;
    gap:1.5vw;
    animation:colorTransparent ease 2s;
}

main p number{
    color:var(--ligth_pink);
    font-weight: 600;
    animation:colorTransparent ease 3s;
}

main destiny img{
    margin-top: 3vw;
    margin-left: 10vw;
    height: 28vw;
    width: 28vw;
    background-size:cover;
    background-repeat:no-repeat;
    animation:rotate ease 4s;

}
main destiny img:hover{
    scale:1.1;
    transition:ease 2s;
}

        /*END MAIN*/

        /*-----SECTION-----*/
section{
    grid-area: section;
    display:flex;
    flex-direction: column;
    gap:1vw;
    margin-top:3vw
}

section ul{
    margin-top:60px;
    list-style: none;
    display:flex;
    justify-content: start;
    gap:3vw;
}

section ul li{
    color:var(--ligth_pink);
    cursor: pointer;
    transition: ease .3s;
    animation:fromTop ease 1s;
}

section ul li:hover{
    border-bottom:solid var(--ligth_pink) 2px;
}

section h1{
    color:var(--white);
    font-family: 'Bellefair', serif;
    font-size: 6vw;
    font-weight: 400;
    animation: fromLeft ease 2s;
}

section descripition{
    color:var(--ligth_pink);
    font-size:clamp(15px, 1.3vw, 25px);
    width: 30vw;
    line-height: 30px;
    letter-spacing: .1vw;
    font-weight: 200;
    animation: fromRight ease 1.4s;
}

section .barrinha_decorativa{
    background-color:rgba(255, 255, 255, 0.116);
    height: 4px;
    width: 40vw;
    animation:fromRight ease 1.4s;
}

section .distancia{
    display: flex;
    justify-content: start;
    gap:7vw;
    width: 30vw;
}

section .distancia p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size:clamp(10px, 1.5vw, 15px);
    font-weight: 400;
    
    color:var(--ligth_pink);
    animation:fromBottom ease 2s;
}

section .distancia h3{
    font-size:clamp(15px, 2vw, 30px);
    font-weight: 200;
    animation:fromBottom ease 2s;

}
        /*END SECTION*/
}

@media (max-width: 768px) {


body{
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/destination/background-destination-tablet.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    display:grid;
    grid-template-rows: 10vh 50vh 40vh ;
    overflow: hidden;
}

            /*-----NAV-----*/
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;

}

nav ul{
    display:flex;
    flex-direction:row;
    align-items: center;
    width: 65vw;
    padding: 0 5vw;
    justify-content: space-between;
    list-style: none;
    background:rgba(254, 254, 254, 0.04);
    backdrop-filter: blur(10px);
}

#navSelected{
    border-bottom: solid white 2px;
  }

nav ul li a{
    display: flex;
    text-decoration:none;
    font-size:2.3vw;
    letter-spacing: .2vw;
    align-items: center;    
    height: 10vh;
    animation:colorTransparent ease 2s;
}


nav svg{
    height: 48px;
    width: auto;
    margin-left:3vw;
}


            /*END NAV*/

        /*-----MAIN-----*/

main{
    margin-top:5vh;
}

main p {
    color:white;
    letter-spacing: .2vw;
    font-size:20px;
    margin-left:4vw;
    font-weight: 200;
    animation: fromLeft ease 1s;
}

main p number{
    color:var(--ligth_pink);
    font-weight: 600;
}

main destiny{
    display:flex;
    justify-content: center;
}

main destiny img{
    height: 35vh;
}


            /*END MAIN*/

            /*-----SECTION-----*/

section{
    display:flex;
    flex-direction:column;
    align-items: center;
}

section ul{
    display:flex;
    list-style: none;
    gap:5vw;
    letter-spacing: .2vw;
    color:var(--ligth_pink);
    font-weight: 200;
    font-size:16px;
}
section ul li{
    color:var(--ligth_pink);
    transition:ease .3s;
    animation:colorTransparent ease 2s;
}

section h1{
    font-size:clamp(80px, 10vw, 100px);
    font-family: 'Bellefair', serif;
    font-weight: 200;
    animation:fromLeft ease 1s
}

section descripition{
    color:var(--ligth_pink);
    width: 70vw;
    text-align: center;
    animation:colorTransparent ease 2s;
}


section .barrinha_decorativa{
    height: 4px;
    width: 80vw;
    border-radius:5px;
    background-color: rgba(255, 255, 255, 0.21);
    margin: 5px 0px;
}

section content{
    display:flex;
    flex-direction: row;
    gap :10vw;
}

section content div{
    display:flex;
    flex-direction:column;
    align-items: center;
}

section content div p{
    color:var(--ligth_pink);
    font-weight: 200;
    letter-spacing:.2vw;
    font-size:14px;
}

section content div h3{
    font-size: 25px;
    font-family: 'Bellefair', serif;
    font-weight: 200;
    letter-spacing: .2vw;
    animation:fromBottom ease 1s;
}



} 

        /*ANIMATIONS*/



@keyframes fromLeft {
    from{
        transform: translateX(-100px);
        color:transparent
    }

    to{
        transform: translateX(0px);
    }
}

@keyframes fromRight {
    from{
        transform: translateX(100px);
        color:transparent
    }

    to{
        transform: translateX();
    }
}

@keyframes fromTop {
    from{
        transform: translateY(-100px);
        color:transparent
    }

    to{
        transform: translateY(0px);
    }
}

@keyframes fromBottom {
    from{
        transform: translateY(100px);
        color:transparent
    }

    to{
        transform: translateY(0px);
    }
}

@keyframes backgroundTransparent {
    from{
        background-color: rgba(255, 255, 255, 0);
    }

    to{
    }
}

@keyframes colorTransparent {
    from{
        color: rgba(255, 255, 255, 0);
    }

    to{
    }
}

@keyframes rotate {
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(0deg);
    }
}

        /*END ANIMATIONS*/

